.custom-header{
  background-color: black; /* set the background color */
  color: #fff; /* set the text color */
  font-size: 18px; /* set the font size */
  font-weight: bold; /* set the font weight */
  padding: 10px 20px; /* set the padding */
}
.btn-add{
  background-color: #806d61;
  color: white;
  padding: 7px 25px;
}
.card{
  border: 2px solid black;
}
