<!--about us-->
<div class="about-us row justify-content-center align-content-center  overflow-visible " id="about-sec">

  <div class="col-md-6 about-l  ">
    <div class="about-head mb-4">
      <div class="back-head">

          <div class="front-head "><h3 class="about-heading text-uppercase">About Us</h3></div>
          <div class="line-after bg-danger w-25  m-auto mt-2"><hr></div>

      </div>

     </div>
     <div class="about-l-txt p-4">
      <h4>To all students of Alsun, Arts, law and college of education faculities, we’re here to facilitate your graduation process. Our website is to help every student by providing the data of the illiterate person you are seeking to educate just by entering your name, faculity, phone, email and your location ,and as soon as possible you’ll have the data and the details.
      </h4>

      <h4>Also there is a service that we can provide the place with package of 12 sessions at the nearest coworking place to your location. </h4>
      <h4>Lorem ipsum dolor sit, amet consectetur ad tempora earum eaque animi vero accusamus eos cumque.</h4>
  </div>
    </div>

  <div class="col-md-4 about-r position-relative row justify-content-center align-content-center ">

  <img src="assets/img/aboutus.jpg" alt="" class="img-fluid about-img h-100 col-md-8 ">
  <div class="border-img"></div>
  <div class="small-about text-center p-1 w-50 h-50 text-white row justify-content-center align-items-center" >
<p>
  We were totally concerned to provide our service with the most reasonable price we can afford within the best ultimate quality.
  </p>  </div>

  </div>



  </div>


