<!--mission-->

<div class="pb-5 pt-5 mission mb-5 ">
  <div class="about-head mt-4 mb-5">
    <div class="back-head">
        <div class="front-head"><h3 class="about-heading text-uppercase">Why BTCO</h3></div>
        <div class="line-after m-auto mt-2" id="line-mission"><hr></div>
      </div>

  </div>


<div class="container">
<ngx-wrapper-tiny-slider #tinySlider [config]="tinySliderConfig">
  #tinySlider
  [config]="tinySliderConfig"
  [initManually]="true",
<div class="item row justify-content-center align-content-center">

  <img src="assets/img/slider-1.jpg" class="col-md-6 d-block float-end " />
  <div class="item-two col-md-6 d-block mt-3 p-3">

          <div class="item-bef mb-4"><h2 class="ms-3">Society</h2></div>


<h4>
  Illiteracy affects a person's ability to fully participate in and contribute to the world around them. illiteracy is perpetuated from parent to child and is likely to lead to higher chances of unemployment and poverty. When a person struggles with reading, the social impacts are profound. A person who is unable to read may have low self-esteem or feel emotions such as shame, fear, and powerlessness. A person who cannot read struggles to know their rights, to vote, to find work, to pay bills and to secure housing</h4>
<h4>All told, this complex struggle spirals outward, impacting future generations and our society. “Illiteracy impacts an individual’s opportunities to fully participate in a democratic society,”</h4>
</div>
    <div class="clearfix"></div>

</div>


 <div class="item">
  <div class="item row justify-content-center align-content-center">


      <div class="item-two col-md-6 d-block mt-3 p-3 ">

              <div class="item-bef mb-4 ms-4 "><h2 class="ms-3">Students</h2></div>

          <h3 class="ms-4">Through our website we help students face their hardest challenge which is finding the illiterate people that they are required to teach to complete their graduation process. We do this by being the bridge between the students and the illiterate people. </h3>
<h3 class="ms-4">For an easier graduation for students, helping in eradicating illiteracy in Egypt and participating in Egypt vision 2023.</h3>      </div>
      <img src="assets/img/slider-2.jpg" class="col-md-6 d-block float-end h-100" />
        <div class="clearfix"></div>

    </div>
</div>

  <div class="item">   <div class="item row justify-content-center align-content-center">


      <div class="item-two col-md-6 d-block mt-3 p-3 ">

              <div class="item-bef mb-4 ms-5"><h2 class="ms-3">BTCO</h2></div>


<h3 class="ms-4">We chose our brand name to be meaningful , distinctive and memorable . Btco Is meaningful because it’s the abbreviation for bridge to cross over which is the main idea of our project, we are the bridge between students and the illiterate people.</h3>
<h3 class="ms-4">Our name is memorable and distinctive because it gives people a sense of warmness as it’s their home that they can come for any time.</h3>
      </div>
      <img src="assets/img/slider-3.jpg" class="col-md-6 d-block float-end h-100" />
        <div class="clearfix"></div>

    </div>
    </div>

</ngx-wrapper-tiny-slider>
</div>


</div>


