
<div class=" vh-100 contact d-flex justify-content-center align-items-center">


  <div class="container contact-form bg-white rounded-3  ">
  <div class="row">
    <div class="col-md-4 ps-2">
  <div class="con-img">
    <img src="assets/img/oldwoman.jpg" class=" ms-5 rounded-4" alt="">
  </div>
    </div>
  <div class="col-md-8 p-3 my-5 pe-5">

      <div>
        <div class="p-5 form-help ">
          <h5 class="mt-4 mb-4">Help us by adding illiterate information </h5>
          <form class="form-control" [formGroup]="addInForm" (ngSubmit)="submitForm()">
            <div class="mb-3">
              <label class="form-label">Name:</label>
              <input type="text" class="form-control" formControlName="name">
              <div *ngIf="addInForm.controls['name'].errors&&addInForm.controls['name'].touched">
              <div *ngIf="addInForm.controls['name'].errors['required']" class="text-danger my-2 ">name is required</div>
           </div>
              </div>
            <div class="mb-3">
              <label class="form-label">Address:</label>
              <input type="text" class="form-control" formControlName="address">
              <div *ngIf="addInForm.controls['address'].errors&&addInForm.controls['address'].touched">
              <div *ngIf="addInForm.controls['address'].errors['required']" class="text-danger my-2">address is required</div>
           </div>
            </div>
            <div class="mb-3">
              <label class="form-label">PhoneNumber:</label>
              <input type="number" class="form-control" formControlName="phone_number">
              <div *ngIf="addInForm.controls['phone_number'].errors&&addInForm.controls['phone_number'].touched">


                <div *ngIf="addInForm.controls['phone_number'].errors['required']" class="text-danger my-2 ">phone number is required</div>
           </div>
            <div class="mb-3 w-100">
              <label class="form-label">Location:</label>
             <select formControlName="location">
              <option [disabled]="true">Please select location</option>
              <option value="Abasya">Abasya</option>
              <option value="Giza">Giza</option>
              <option value="Helwan">Helwan</option>
             </select>
              <div *ngIf="addInForm.controls['location'].errors&&addInForm.controls['location'].touched">


                <div *ngIf="addInForm.controls['location'].errors['required']" class="text-danger my-2 ">Location is required</div>
           </div>
            </div>
            </div>
            <div class="btn-add text-center">
            <button [disabled]="addInForm.invalid" type="submit" class="btn btn-add my-3"> Add Person</button>
            </div>

          </form>
        </div>
      </div>
    </div>



   </div>

  </div>
  </div>


  <app-footer></app-footer>
