<div class="service overflow-hidden" >
  <div class="row justify-content-center align-content-center h-100 pt-5">
<div class="container  p-5" >
  <div class="package row justify-content-center align-content-center pt-5">
    <div class="col-md-4"  >
      <div class="card" >
        <div class="pack-top card-img-top text-center p-5 ">
          <h2 class="card-ti">Basic</h2>

          <h3>200<span class="pound"> LE</span></h3>
        </div>
        <div class="card-body text-center p-4 ">
          <h5 class="card-title">Basic Package</h5>
          <p class="card-text">Our app connects you with ONE illiterate person.</p>
        </div>
        <ul class="list-group list-group-flush text-center p-4">
          <li class="list-group-item">One person</li>
          <li class="list-group-item">reasonable price</li>
          <li class="list-group-item">You have the option to select up to a maximum of three individuals.</li>
        </ul>
        <div class="card-footer bg-black">
          <a href="#" class="card-link btn text-white w-100"  routerLink="/payform">

           Purchase
          </a>

        </div>
      </div>
    </div>
    <div class="col-md-4 pack-two" >
      <div class="card" >
        <div class="pack-top card-img-top text-center p-5 " id="pack-two-top">
          <h2>Premium </h2>

          <h3>650<span class="pound"> LE</span></h3>
          <h4 class="sec-place">+ place </h4>

        </div>
        <div class="card-rec ">

          <span class="bg-black text-white">Recommended</span>
        </div>
        <div class="card-body text-center p-4 ">
          <h5 class="card-title">Premium Package</h5>
          <p class="card-text">In addition to connecting you with one illiterate person, our app provides access to a discounted co-working space where you can meet and work together.</p>
        </div>
        <ul class="list-group list-group-flush text-center p-4">
          <li class="list-group-item">You have the choice to select one person or multiple people.</li>
          <li class="list-group-item pb-3">Each person will be provided with a co-working space.</li>

        </ul>
        <div class="card-footer bg-black">
          <a  class="card-link btn text-white w-100" routerLink="/payform" >

           Purchase
          </a>

        </div>
      </div>
    </div>
    <div class="col-md-4"  >
      <div class="card" >
        <div class="pack-top card-img-top text-center p-5 ">
          <h2> Standard</h2>

          <h3>700<span class="pound"> LE</span></h3>
        </div>
        <div class="card-body text-center p-4 ">
          <h5 class="card-title">Standard Package</h5>
          <p class="card-text">Our app connects you with Four illiterate people, allowing you to make a greater impact in your community.
          </p>
        </div>
        <ul class="list-group list-group-flush text-center p-3">
          <li class="list-group-item">Four people</li>
          <li class="list-group-item">With a Discount</li>
          <li class="list-group-item">Act now, as this package is only being offered for a limited time.</li>
        </ul>
        <div class="card-footer bg-black">
          <a href="#" class="card-link btn text-white w-100" routerLink="/payform" >

           Purchase
          </a>

        </div>
      </div>
    </div>

  </div>
</div>

</div>
</div>
<app-footer></app-footer>
