<div class="payform">
  <div class="packOne">
  <div class="container">
    <div class="row align-content-center justify-content-center vh-100">
      <div class="col-md-6 " >
<form action="" class="form-control bg-danger">
  <h1>Pay from two</h1>

  <label for="">
    package type
  </label>
 <h1>{{name}}</h1>

  <h2>{{age}}</h2>
  <label for=""></label>
  <label for="">
 Card Number
  </label>
  <input type="" class="form-control">
  <label for="">
 CVP
  </label>
  <input type="" class="form-control">

</form>
      </div>

    </div>
  </div>
</div>
</div>
