@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Bebas+Neue&family=Lilita+One&family=Lobster&family=Pacifico&family=Poppins:wght@300;400;500&family=Prompt:wght@300&family=Russo+One&family=Sigmar&family=Tajawal&display=swap');

.register{

  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right,#c5baaa, #806d61 );
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.9);
.r-img{
  overflow-x: hidden;
  border: 1px solid white;
  height: 70vh;

}
.r-form{
  margin-top: 70px;
  h2{
    font-weight: 600;
  }
}
.register-img{

overflow-x: hidden;
position: relative;

}
.layer-r{

  overflow-x: hidden;
background-color: rgba(0,0,0,0.5);
color: white;
  position: absolute;
top: 25%;
left: 50%;
transform: translateX(-50%);
h3{
  font-weight: 600;
}
}


.register-inputs{

  overflow-x: hidden;
  height: 70vh;
// h2{

// }
input{

  overflow-x: hidden;
  border: none;
  border-bottom: 2px solid orange ;
  background-color: transparent;
}
.btn-register{
background-color: orange;
border: none;
padding: 10px 60px;
font-weight: 600;
}
}

  .label{

  overflow-x: hidden;
    font-size: 18px;
    font-weight: 500;
  }
}
